body {
  color: white;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.smurf-container {
  display: flex;
  flex-flow: row wrap;
}

.smurf {
  font-family: 'Gloria Hallelujah', cursive;
  width: 250px;
  margin: 2%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: blue;
  color: white;
}
